*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}





/* HEADER */
.top-content {
	padding: 0px;
	margin: 0px;
	background-color: 
}

.car-image> img {
	position: relative;
	top:-8px;
}

.top-content img {
	float: left;
}


.top-header {
	border-bottom: 1px solid black;
}

/* links */

.links *{
	margin: 0px;
	padding: 0px;
}

.links ul,
.links ol {
	list-style: none;
}

.links > ul {
	display: flex;
	justify-content: center;
	float: left;
	margin-left: 160px;
}



.links > ul li a{
display: block;
font-style: 14px;
color: black;
text-decoration: none;
text-transform: uppercase;
padding: 10px 35px 10px 35px;
}

.links > ul li {
	position: relative;
	border-right: 1px solid #c7c8ca;
	border-bottom: 1px solid #c7c8ca;
	background-color: white;
}

.links > ul li:first-child {
	border-left: 1px solid #b2b3b5;
}

.links > ul li:last-child {
	border-right: 1px solid #babbbb;
}

.links li a:hover {
	color: white;
	background-color: #454547;
	transition: all 0.4s ease;
	box-shadow: 1px 5px 10px -5px black;
}


.homepage {
	background-color: #C0C0C0;
	border: 1px solid black;
}

.info {
	background-color: #C0C0C0;
	border: 1px solid black;
}

.service {
	background-color: #C0C0C0;
	border: 1px solid black;
}

/* MENU */

.links  li > ul {
	position: absolute;
	min-width: 170px;
	opacity: 0;
	top: -9999em;
}
.links li ul li {
	border: 1px solid #c7c8ca;
}

.links li ul li a {
	padding: 11px;
	text-transform: none;
}

.links ul li:hover > ul {
	opacity: 1;
	top: 43.5px;
	transition: opacity 0.6s;
}


.links > ul > li > a > i.fa {
	position: absolute;
	top: 10px;
	font-size: 20px;
	left: 9px;
}

.help:hover {
	cursor: help;
}


/* vkimage */

.vk-img {
	margin: 0px;
}

.vk-img > a {
	font-size: 35px;
	float: right;
	color: black;
	display: flex;
	padding-top: 6px;
}



/* BUTTON LINKS */

.menubutton {
	background-color: transparent;
	font-size: 30px;
	position: absolute;
	display: none;
	border: none;
}